@import '~/assets/style/variables.scss';

.room-prices {
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  margin: 30px 0;

  @media #{$sm} {
    margin: 50px 0;
  }

  .room-prices-head {
    background-color: $color-grey-light;
    padding: 20px;

    @media #{$sm} {
      display: flex;
      justify-content: space-between;
    }

    .room-prices-head-row {
      margin: 10px 0;

      @media #{$sm} {
        margin: 0;
      }

      &:first-child {
        margin-top: 0;
        margin-bottom: 15px;

        @media #{$sm} {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
