@import '~/assets/style/variables.scss';

.nav-item {
  padding: 20px 0;
  text-align: center;

  @media #{$md} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
    font-weight: 700;
    color: $color-grey-dark;

    span {
      transition: all 0.5s;
    }

    &:hover span {
      transform: scale(1.1, 1.1);
      color: #000;
    }
  }

  @media #{$xl} {
    padding: 0 30px;
  }

  &.active {
    color: #000;
    font-weight: 700;
  }

  &.marked {
    background-color: $color-primary;
    color: #fff;

    @media #{$md} {
      background-color: rgba($color-primary, 0.8);
    }

    &:hover span {
      color: #fff;
    }
  }
}
