@import '~/assets/style/variables.scss';

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  height: 100%;
  font-weight: 700;
  color: $color-grey;

  span {
    transition: all 0.5s;
  }

  &:hover span {
    transform: scale(1.1, 1.1);
    color: #000;
  }

  @media #{$xl} {
    padding: 0 30px;
  }

  &.marked {
    background-color: rgba($color-primary, 0.8);
    color: #fff;

    &:hover span {
      color: #fff;
    }
  }
}
