@import "~/assets/style/variables.scss";

.home-offer-mini {
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  width: 90%;
  max-width: 350px;
  margin: 30px auto;
  font-size: 90%;

  @media #{$md} {
    width: 300px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
    margin: 20px 0 0 0;
  }

  &.closed {
    display: none !important;
  }

  .home-offer-mini-inner {
    position: relative;
    padding: 20px;
    text-align: center;
    border-top: 10px solid #fff;
    background-color: $color-primary;

    .home-offer-mini-close {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      padding: 10px 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .home-offer-mini-headline {
      font-weight: 600;
      margin: 0 25px 10px;
    }

    .hr-short {
      margin: 15px auto;

      @media #{$md} {
        display: none;
      }
    }

    .home-offer-mini-button {
      margin-top: 15px;
      text-align: center;

      @media #{$md} {
        display: none;
      }
    }
  }
}
