@import '~/assets/style/variables.scss';

.room-prices-table-mobile {
  padding: 30px 20px;

  @media #{$sm} {
    display: none;
  }

  .room-prices-table-mobile-season {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;

      .room-prices-table-mobile-season-hr {
        display: none;
      }
    }

    .room-prices-table-mobile-season-label {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .room-prices-table-mobile-season-prices {
      width: 100%;
      border: none;
      border-collapse: collapse;

      .room-prices-table-mobile-season-prices-td {
        padding: 5px 10px;
        vertical-align: top;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
          text-align: right;
        }

        .room-prices-table-mobile-earlybird-label,
        .room-prices-table-large-earlybird-price {
          font-weight: bold;
        }
      }
    }
  }
}
