@import '~/assets/style/variables.scss';

.hotel {

  .hotel-restaurant-wrapper {
    margin: 80px 0 100px;

    @media #{$sm} {
      margin: 100px 0 150px;
    }
  }

  .hotel-wellness-wrapper {
    margin: 80px 0;
  }
}
