@import "~/assets/style/variables.scss";

.text-section {
  margin: 40px 0;

  .text-section-headline {
    font-weight: 600;
  }

  .text-section-article {
    margin: 20px 0;
    text-align: justify;

    ul {
      margin-top: 10px;
    }

    li {
      margin-left: 20px;
    }
  }

  .text-section-delimiter {
    margin-top: 40px;
  }

  a {
    color: $color-primary;
  }
}
