.text-section {
  margin: 40px 0;

  .text-section-headline {
    font-weight: 600;
  }

  .text-section-article {
    margin: 20px 0;
    text-align: justify;
  }

  .text-section-delimiter {
    margin-top: 40px;
  }
}
