@import '~/assets/style/variables.scss';

.room-slider {
  width: 100%;

  .room-slider-item {
    position: relative;
    width: 100%;
    padding-top: 70%;

    .room-slider-item-inner {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
