@import '~/assets/style/variables.scss';

.room-slider {
  width: 100%;

  .room-slider-item {
    width: 100%;
    height: 250px;

    @media #{$sm} {
      height: 350px
    }

    @media #{$md} {
      height: 400px;
    }

    @media #{$lg} {
      height: 450px;
    }

    @media #{$xl} {
      height: 500px;
    }
  }
}
