.request-submit {
  margin: 30px 0;
  text-align: center;

  .request-submit-contact {
    margin-top: 50px;
    text-align: center;

    .request-submit-contact-text {
      margin-bottom: 20px;
    }

    .request-submit-contact-phone {
      font-weight: 600;
    }
  }
}
