@import "~/assets/style/variables.scss";

.home-offer-mini-new-years-eve {
  background-image: url("/home/new-years-eve.jpg");
  background-position: 0 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  max-width: 400px;

  @media #{$md} {
    width: 400px;
    background-size: 130px auto;
  }


  .home-offer-mini-new-years-eve-inner {
    padding: 20px 30px 20px 120px;
    text-align: left;
    background-color: transparent;

    @media #{$md} {
      padding-left: 140px;
    }

    .home-offer-mini-new-years-eve-description {
      margin: 10px 0 30px 0;
      font-style: normal;
    }

    .home-offer-mini-new-years-eve-button {
      text-align: left;

      @media #{$md} {
        display: block;
      }
    }
  }
}
