@import "~/assets/style/variables.scss";

.room-prices-conditions {
  padding: 0 20px 20px;

  @media #{$sm} {
    padding: 0 30px 20px;
  }

  &.open {

    .room-prices-conditions-headline {
      color: #000;
    }

    .room-prices-conditions-headline-icon {
      transform: rotate(90deg);
    }
  }

  .room-prices-conditions-headline {
    display: inline-block;
    color: $color-grey;

    .room-prices-conditions-headline-icon {
      margin-right: 10px;
      transition: transform .5s;
    }

    .room-prices-conditions-headline-text {
      font-weight: 600;
    }
  }
}
