@import '~/assets/style/variables.scss';

.home {

  .page-head {
    margin-top: 0;
  }

  .home-intro {
    margin-bottom: 100px;

    .home-stars {
      margin: 0 auto;
      width: 100px;
      max-width: 50%;

      img {
        width: 100%;
      }
    }
  }

  .home-offer-mini-items {
    position: fixed;
    z-index: 3;
    right: 10px;
    bottom: 0;
  }
}
