@import '~/assets/style/variables.scss';

.offers {

  .offers-main-items, .offers-other-items {
    margin: 0 auto;
    width: 90%;
    max-width: 1250px;
  }

  .offers-item {
    margin: 50px 0;
  }

  .offers-other-items-headline {
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    margin: 70px 0 20px;

    @media #{$sm} {
      margin-bottom: 40px;
    }
  }

  .offers-footer {
    margin-top: 100px;

    .offers-footer-note {
      margin: 0 auto;
      width: 90%;
      font-style: italic;
      text-align: center;
    }

    .offers-footer-button {
      text-align: center;
      margin-top: 50px;
    }
  }
}
