@import '~/assets/style/variables.scss';

.page-head {
  margin-top: 60px;

  @media #{$xl} {
    margin-top: 70px;
  }
}

.rooms-overview-line {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 900px;
  margin: 50px auto;
}

.rooms-overview-doublerooms {
  width: 100%;
}

.rooms-overview-apartments, .rooms-overview-suite {
  width: 100%;

  @media #{$sm} {
    width: 50%;
  }
}

.rooms-overview-suite {
  margin: 50px auto;

  @media #{$sm} {
    margin: 0;
  }
}
