@import '~/assets/style/variables.scss';

.thumbor-image-rendering {

  &, .vv-visual, img {
    width: 100%;
    height: auto;
    /* IE 10 bug-fix */
    border: none;
  }

  &.cover {
    height: 100%;

    .vv-visual {
      height: 100%;
    }
  }

  &.adjustToWidth {

    &,
    .vv-visual,
    .vv-transition,
    img {
      width: 100%;
      height: auto !important;
    }
  }

  &.adjustToHeight {
    height: inherit;

    .vv-visual,
    .vv-transition,
    img {
      height: 100%;
      width: auto !important;
    }
  }
}
