@import '~/assets/style/variables.scss';

.room-prices-table-large {
  display: none;
  padding: 30px;

  @media #{$sm} {
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .room-prices-table-large-line {

    &.border-bottom {

      .room-prices-table-large-td {
        border-bottom: 1px solid $color-grey;
        padding-bottom: 20px;
      }

      & + .room-prices-table-large-line {

        .room-prices-table-large-td {
          padding-top: 20px;
        }
      }
    }

    .room-prices-table-large-td {
      padding: 5px 0 5px 10px;
      vertical-align: top;
      width: 21.5%;
      text-align: center;

      @media #{$md} {
        padding: 5px 15px;
      }

      &:first-child {
        padding-left: 0;
        border-right: 1px solid $color-grey;
        width: 14%;
        text-align: left;
      }

      &:last-child {
        padding-right: 0;
      }

      .room-prices-table-large-earlybird-label,
      .room-prices-table-large-earlybird-price {
        font-weight: 600;
      }
    }
  }
}
