.home-offer-mini-voucher {
  background-image: url("/home/christmas-balls.jpg");
  background-size: cover;
  background-position-y: 100%;

  .home-offer-mini-voucher-inner {
    padding: 20px 30px 90px 20px;
    background-color: transparent;
    text-align: left;
  }
}
