@import '~/assets/style/variables.scss';

.button {
  border: 1px solid #000;
  min-width: 130px;
  padding: 12px 0;
  text-align: center;
  font-size: 80%;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  transition: transform .5s;

  @media #{$md} {
    min-width: 160px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }

  &.inverted:not(.disabled) {
    background-color: #000;
    color: #fff;
  }

  &.hasArrow {
    .button-text {
      padding: 0 20px;
    }
  }

  &.disabled {
    opacity: .3;
  }

  .button-text {
    padding: 0 30px;
  }

  .button-arrow {

    &.left {
      margin-left: 10px;
    }

    &.right {
      margin-right: 10px;
    }
  }
}
