@import '~/assets/style/variables.scss';

.home-overview-item {
  background-color: $color-grey-light;

  @media #{$md} {
    display: flex;
    height: 400px;
    overflow: hidden;

    &:not(.isImageAlignLeft) {
      flex-direction: row-reverse;
    }
  }

  @media #{$lg} {
    height: 460px;
  }

  .home-overview-item-row {

    @media #{$md} {
      position: relative;
      width: 50%;
      height: 100%;
    }

    &.img {
      height: 200px;
      width: 100%;

      @media #{$md} {
        width: 50%;
        height: 100%;
      }
    }

    &.text {
      padding: 50px 5%;

      @media #{$md} {
        padding: 0;
      }

      .home-overview-item-text-center {
        @media #{$md} {
          position: absolute;
          left: 10%;
          top: 50%;
          transform: translateY(-50%);
          width: 80%;
          max-width: 580px;
        }
      }

      .home-overview-item-text-button {
        margin-top: 20px;
        text-align: right;

        @media #{$md} {
          position: absolute;
          right: 10%;
          bottom: 20px;
          margin: 0;
        }

        @media #{$lg} {
          right: 5%;
        }
      }
    }
  }

  .home-overview-item-headline {
    font-size: 130%;
    font-weight: 600;
  }

  .home-overview-item-subheadline {
    font-size: 100%;
    font-weight: 600;
  }

  .home-overview-item-text {
    margin-top: 20px;
    text-align: justify;

    @media #{$md} {
      margin-top: 30px;
    }
  }
}
