@import '~/assets/style/variables.scss';

.head-img-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 250px;
  margin-bottom: 50px;

  @media #{$md} {
    height: 300px;
  }

  @media #{$lg} {
    height: 330px;
  }

  @media #{$xl} {
    height: 350px;
  }

  .head-img-section-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80%;

    .head-img-section-image-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#000, .3);
    }
  }

  .head-img-section-headline {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 20%;

    font-family: $font-secondary;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 55%;

    @media #{$md} {
      font-size: 40px;
    }

    @media #{$lg} {
      font-size: 60px;
    }

    @media #{$xl} {
      font-size: 80px;
    }
  }

  .head-img-section-subheadline {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 80%;
    padding-top: 10px;

    font-family: $font-secondary;
    text-align: center;
    font-size: 25px;
    color: $color-primary;

    @media #{$md} {
      font-size: 30px;
    }

    @media #{$lg} {
      font-size: 35px;
    }

    @media #{$xl} {
      font-size: 40px;
    }
  }

  .head-img-section-sun {
    position: absolute;
    z-index: 0;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;

    @media #{$md} {
      width: 700px;
    }

    @media #{$lg} {
      width: 830px;
    }

    @media #{$xl} {
      width: 950px;
    }
  }
}
